<app-get-cc-information (cardDtoEvent)="submit($event)"  [buttonText]="'Pay'"></app-get-cc-information>



<!--
<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>PAN</mat-label>
    <input [formControl]="PANFormControl" matInput placeholder="1111111111111111" type="text">
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <mat-label>Security code</mat-label>
    <input [formControl]="securityFormControl" matInput placeholder="123456789" type="number">
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <mat-label>Card holder name</mat-label>
    <input [formControl]="cardHolderNameFormControl" matInput placeholder="Petar Petrović" type="text">
  </mat-form-field>

  <br>
  <mat-form-field class="example-full-width">
    <mat-label>Expire month</mat-label>
    <input [formControl]="monthFormControl" matInput placeholder="1" type="number">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Expire year</mat-label>
    <input [formControl]="yearFormControl" matInput placeholder="2026" type="number">
  </mat-form-field>
  <button (click)="submit()"> Pay </button>
</form>
-->
